@import "src/assets/styles/color-scheme.scss";


.printing-edition-section {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 500;
    .sidebar-container {
        min-width: 270px;

        .sidebar-item {
            margin-bottom: 50px;
            padding: 15px;
            transition: 1s;

            .sidenav-filter-categories {
                .mat-checkbox {
                    margin-left: 12px;
                }
            }

            .sidenav-filter-price {
                .price-form {
                    width: 45%;

                    &:first-of-type{
                        margin-right: 10%;
                    }
                }
            }

            .mat-form-field {
                width: 100%;
            }
        }
    }

    .main-container {
        flex: 1 1 60%;
        .main-container-filters {
            display: flex;

            .filter-card {
                width: 140px;
                margin-left: 20px;
                background: none;
                .mat-form-field#currency {
                    width: 100%;
                }

                .mat-form-field#sorting {
                    width: 75%;
                }

                .mat-icon {
                    vertical-align: middle;
                    transition: 0.2s;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        color: $primary;
                    }

                    &:active {
                        color: $primary-active;
                    }
                }
            }
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .app-card {
                margin: 16px;

                &:first {
                    margin-left: 0 !important;
                }

                &:last {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.inverted {
    transform: scaleY(-1);
}

@media only screen and (min-width: 1280px) {
    .printing-edition-section {
        padding: 50px 8%;

        .sidebar-container {
            flex: 0 0 20%;
        }

        .main-container {
            flex: 1 1 70%;

            .cards-container {
                .app-card {
                    min-height: 320px;
                    width: 320px;
                }
            }
        }
    }
}

@media only screen and (min-width: 986px) and (max-width: 1280px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 20%;
        }

        .main-container {
            flex: 1 1 70%;

            .cards-container {
                .app-card {
                    min-height: 320px;
                    width: 250px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 986px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 30%;
        }

        .main-container {
            flex: 1 1 60%;

            .cards-container {
                .app-card {
                    min-height: 200px;
                    width: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 100%;
        }

        .main-container {
            flex: 1 1;

            .cards-container {
                justify-content: center !important;

                .app-card {
                    min-height: 600px;
                    width: 100%;
                }
            }
        }
    }
}
