<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DB4Exam"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB4Exam;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>