<section class="author-section">
    <h1>Authors</h1>
    <hr>
    <div class="table-container mat-elevation-z8">
        <table mat-table (matSortChange)="setOrder($event); applyFilters()" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td id="name" mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="printingEdition">
                <th mat-header-cell *matHeaderCellDef> Printing Editions </th>
                <td id="printingEdition" mat-cell *matCellDef="let row">
                    <p *ngFor="let item of row.printingEditions">{{item.title}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="control" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>
                    <div class="btn-add">
                        <button mat-button color="primary" (click)="createAuthor()">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                </th>
                <td id="control" mat-cell *matCellDef="let row">
                    <span>
                        <button mat-button color="primary" (click)="update(row)">
                            <mat-icon>create</mat-icon>
                        </button>
                    </span>

                    <span>
                        <button mat-button color="primary" (click)="delete(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

    </div>
    <mat-paginator class="mat-elevation-z8" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="setAmountOfItems(); applyFilters($event)"></mat-paginator>
</section>