footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2C2C2C;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

button {
    background: #2C2C2C !important;
}