<section class="sign-in-container">
    <h1>Sign In</h1>
    <form [formGroup]="signInForm" novalidate (ngSubmit)="submit()">
        <div class="input-form-group">
            <mat-form-field>
                <input placeholder="Email" name="emailInput" matInput formControlName="email">
            </mat-form-field>
            <div class="alert alert-danger"
                *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].touched">
                Email can`t be empty
            </div>
        </div>

        <div class="input-form-group">
            <mat-form-field>
                <input placeholder="Password" name="passwordInput" matInput formControlName="password">
            </mat-form-field>
            <div class="alert alert-danger"
                *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched">
                Password can`t be empty
            </div>
        </div>
        
        <div class="input-form-group">
            <button mat-flat-button color="primary" [disabled]="signInForm.invalid">Sign In</button>
        </div>
    </form>
</section>