<footer class="footer-container mat-elevation-z6">
    <button mat-flat-button color="primary" routerLink="/">Home</button>
    <button mat-flat-button color="primary" routerLink="/PrintingEditions">Books</button>
    <button mat-flat-button color="primary" routerLink="/Authors">Authors</button>
    <button class="nav-auth-button" mat-flat-button color="primary" routerLink="/Account/SignIn">Sign In</button>
    <button class="nav-auth-button" mat-flat-button color="primary" routerLink="/Account/SignUp">Sign Up</button>
</footer>
