<footer class="footer-container mat-elevation-z6">
    <button mat-flat-button color="primary" routerLink="/">Home</button>
    <button mat-flat-button color="primary" routerLink="/PrintingEdition/List">Books</button>
    <button mat-flat-button color="primary" routerLink="/Author/List">Authors</button>
    <button class="nav-auth-button" mat-flat-button color="primary" routerLink="/Account/SignIn">Sign In</button>
    <button class="nav-auth-button" mat-flat-button color="primary" routerLink="/Account/SignUp">Sign Up</button>
</footer>
