<header class="mat-elevation-z6">
    <div class="wrap">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Book_Hexagonal_Icon.svg/892px-Book_Hexagonal_Icon.svg.png" alt="" width="50px" >
        <button mat-flat-button color="primary" routerLink="/" (click)="log()">Home</button>
        <span class="nav-btns-managers" *ngIf="isAuthorized && isAdmin">

        </span>
        <div class="nav-btns-auth" *ngIf="!isAuthorized">
            <button class="btn-sign-in" mat-flat-button color="primary" routerLink="/Account/SignIn">Sign In</button>
            <button class="btn-sign-up" mat-stroked-button color="primary" routerLink="/Account/SignUp">Sign Up</button>
        </div>
        <div class="nav-btns-auth" *ngIf="isAuthorized">
            <button class="btn-cart" mat-flat-button color="primary" (click)="openCart()" *ngIf="!isAdmin">
                <mat-icon [matBadge]="badge" [matBadgeHidden]="badge <= 0" matBadgePosition="before" matBadgeColor="warn" aria-hidden="false">shopping_cart</mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="false">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/Account/Profile">My profile</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Orders">Orders
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Users">Users
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/PrintingEditions">Products
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Authors">Authors
                    managment</button>
                <button mat-menu-item routerLink="/Orders/MyOrders">My orders</button>
                <button mat-menu-item (click)="signOut()">Sign Out</button>
            </mat-menu>
        </div>
    </div>
</header>