$white: #ffffff;
$purple: #3f51b5;
$purple-active: #5367d8;

header {
    background-color: $purple;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 16px;
}

button {
    margin-right: 5px;
    padding: 8px;
    border-radius: 0;
}

.wrap {
    width: 100%;
    position: relative;
}

.nav-btns-auth {
    position: absolute;
    right: 0;
    top: 0;
}

.btn-sign-up,
.btn-sign-out {
    background-color: $white;
    margin-right: 0;
}

.mat-button--active {
    background-color: $purple-active;
}
