<section class="reset-password-section">
    <h1>Reset Password</h1>
    <form [formGroup]="resetPasswordForm" novalidate>
        <br>
        <div class="input-form-group">
            <p>Forgot your account’s password? Enter your email address and we’ll send you instructions.</p>
        </div>
        <div class="input-form-group">
            <mat-form-field>
                <input placeholder="Email" name="emailInput" matInput formControlName="email">
            </mat-form-field>
            <div class="alert alert-danger"
                *ngIf="!resetPasswordForm.controls['email'].value && resetPasswordForm.controls['email'].touched">
                Email can`t be empty
            </div>
            <div class="alert alert-danger"
                *ngIf="resetPasswordForm.controls['email'].value && resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched">
                Email is invalid
            </div>
        </div>
        <div class="input-form-group">
            <button mat-flat-button color="primary" [disabled]="resetPasswordForm.invalid"
                (click)="redirect()">Continue</button>
        </div>
    </form>
</section>