h1,
p {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.mat-dialog-actions {
    .mat-button {
        &:first-child {
            margin-left: 47%;
            margin-right: 3%;
        }
        transform: translateX(-100%);
    }
}

.img-container {
    width: 50px;
    height: 75px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    float: left;
}
