<header class="mat-elevation-z6">
    <div class="wrap">
        <button mat-flat-button color="primary" routerLink="/">Home</button>
        <button mat-flat-button color="primary" routerLink="/List" routerLinkActive="mat-button--active"> Books</button>
        <div class="nav-btns-auth">
            <button mat-flat-button color="primary" routerLink="/Account/SignIn">Sign In</button>
            <button class="btn-sign-up" mat-stroked-button color="primary" routerLink="/Account/SignUp">Sign Up</button>
        </div>
    </div>
</header>

