table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    max-width: 15%;

    &:first-child {
        width: 4%;
    }
}


.mat-row {
    &:hover{
        background: #eee;
        cursor: pointer;
    }

}