.avatar {
    width: 150px;
    height: 150px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.avatar-path-form {
    display: none;
}

.password-error-alert {
    font-size: .8rem;
    position: relative;
    top: -17px;
}