.printing-edition-section {
    padding: 20px 0;
    position: relative;
}
/* SIDEBAR */

.mat-sidenav {
    width: 200px;
    padding: 10px 20px;
    font-size: 12pt;

    .sidenav-wrap {
        position: fixed;
        width: 160px;
        transition: 1s;
    }
}

.sidenav-filter-categories {
    .mat-checkbox {
        margin-left: 12px;
    }
}

/* CONTENT*/

mat-form-field {
    display: inline-block;
    margin-right: 12px;
    width: 90px;
}

.search-input-field {
    width: 400px;
}

.main-container {
    padding: 0 40px;
    
    .cards-container {
        height: 400px;
        padding: 20px 40px;
        app-card {
            position: relative;
            width: 10%;
            min-height: 100%;
            float: left;
            margin: 20px 3% 20px 0;
        
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

.btn-filter-container {
    position: fixed;
    top: 190px;
    z-index: 99999;
    transform: translateX(-40%);

    &:hover {
        transform: translateX(0%);
        transition: 0.3s;
    }

    .btn-filter {
        padding-right: 0;
        border-radius: 0px 5px 5px 0px;
    }
}