table {
    width: 100%;
}

td,
th {
    width: 25%;
}

/* SIDEBAR */

.mat-sidenav {
    width: 200px;
    padding: 10px 20px;
    font-size: 12pt;
    
    .sidenav-wrap {
        position: fixed;
        width: 160px;
    }
}

.sidenav-filter-categories {
    .mat-checkbox {
        margin-left: 12px;
    }
}

/* CONTENT*/

app-card {
    width: 19%;
    float: left;
    margin-right: 8%;
    margin-bottom: 40px;
}

app-card:nth-child(4n) {
    margin-right: 0;
}

mat-form-field {
    display: inline-block;
    margin-right: 12px;
    width: 90px;
}

.search-input-field {
    width: 400px;
}

.btn-filter {
    top: 65px;
    z-index: 99999;
    padding-right: 0;
    border-radius: 0px 5px 5px 0px;
    transform: translateX(-40%);
    transition: .3s;

    &:hover {
        transform: translateX(-20%);
    }
}

.cards {
    min-height: 1000px;
}
