.printing-edition-section {
    padding: 50px 100px 0 50px;
    h1 {
        display: inline-block;
    }

    .btn-add {
        position: relative;
        right: 0;
        display: inline-block;
    }

    .table-container {
        width: 100%;
        max-height: 60vh;
        overflow: auto;

        .mat-table-sticky:first-child {
            border-right: 2px solid #e0e0e0;
        }

        .mat-table-sticky:last-child {
            border-left: 2px solid #e0e0e0;
        }

        table {
            width: 100%;

            th {
                padding-right: 24px;
                padding-left: 24px;
                .mat-form-field {
                    top: 4px;
                    color: rgba(0, 0, 0, 0.54);
                    font-weight: 500;
                    width: 80px;
                }
            }

            tr {
                td {
                    padding-right: 24px;
                    padding-left: 24px;
                }
                #title {
                    width: 11%;
                }

                #description {
                    max-width: 200px;
                    width: 20%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                #type {
                    width: 7%;
                }

                #authors {
                    width: 8%;
                }

                #price {
                    width: 5%;
                }

                #control {
                    width: 10%;
                }
            }
        }
    }

    .mat-paginator {
        position: relative;
        z-index: 2;
    }
}
