.pe-card  {
    width: 100%;
    min-height: inherit;
    float: left;
    
    &:last-child {
        margin-right: 0;
    }

    .mat-card-image {
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}